h2 {
    text-align: center;
}

form {
    vertical-align: top;
}

label {
    width: 100 px;
    display: inline-block;
}

.form {
    margin: auto;
}

table {
    margin: 8px;
    align-items: center;
}

th {
    background: #666;
    color: #FFF;
    padding: 2px 6px;
    border-collapse: separate;
    border: 1px solid #000;
}

td {
    border: 1px solid #DDD;
}

.form {
    align-self: auto;
}

label {
    padding-top: 10px;
}